*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header-menu */
header{
    display: flex;
    justify-content: space-around;
    background-color: #255ee9;
    height: 70px;  
}

.logo{
height: 40px;
margin-top: 20px;
}

.link{
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-weight: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.links-header{
    display: flex;
    width: 28vw;
    padding: 0.5em;
    margin: 0vh auto 1;
    justify-content: space-between;
    margin-top: 5px;  
    /* white-space: nowrap; */
}
.link-accedi{
    margin-top: 10px;
}


/* Primo blocco  */

.container-small {
	max-width: 600px;
	margin: 0 auto;
}

.header-background {
	padding: 4rem 0 3rem;
	background-image: url("../img/jumbo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.header-content {
	text-align: center;
	color: white;
}

.header-content h1 {
	margin-bottom: 2rem;
    font-size: 50px;

}

.header-content p {
	margin-bottom: 1rem;
    font-size: 15px;
    line-height: 30px;
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border-radius: 10em;
	text-decoration: none;
}

.btn-white {
	background-color: white;
	color: black;
}

.btn-black {
	background-color: #23272a;
	color: white;
}

/* Inizio secondo blocco */

.container-1{
    height: 680px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.blocco-1{
    width: 600px;
}

.titolo-blocco{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.paragraf-blocco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    height: 200px;
    line-height: 30px;
    margin-top: 40px;
}

.immagine-1{
    margin-right: 50px;
    height: 500px;
}

.img-rana{
    height: 500px;
}
/* Inizio terzo blocco  */

.container-3{
    height: 680px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f5f5f5;
    
}

/* Inizio quinto blocco */

.container-2{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}
.titolo-blocco1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.blocco-2{
width: 1200px;;
margin: auto;
}

.paragraf-blocco1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    height: 70px;
    line-height: 30px;
    margin-top: 40px;
}

.img-compu{
    height: 900px;
}

.blocco-finale{
    padding: 200px;
    text-align: center;
    background-color: #f5f5f5;
}

.btn-viola {
	background-color: #7289da;
	color: white;
    margin-top: 40px;
}


/* Inizio footer  */

footer{
    padding: 80px 0 60px 0;
    background-color: #23272a;
}

footer .footer-top{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

footer .main-column{
    flex-basis: 25%;
}

footer h4, footer h5{
    padding-right: 20px;
    margin-bottom: 20px;
    color: #7388da;;
}
h4{
    font-size: 30px;
}
#language{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#language p{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#language img{
    width: 25px;
}

.social-media{
    width: 50%;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.social-media a{
    color: white;
}

footer .menu-column{
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
}

.footer-menu li{
    font-size: 16px;
    margin-bottom: 20px;
    list-style-type: none;
}

.footer-menu a{
    color: #fff;
    text-decoration: none;
}

.footer-bottom{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #7388da;;
    display: flex;
    justify-content: space-between;
}

.footer-bottom img{
    display: block;
}

.bottone-footer{
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: #7388da;
}

/* Waves  */

.wave{
    filter: opacity(0.04);
    margin: -4px;
}

.wave-1{
    transform: rotateX(0.5turn);
    filter: opacity(0.04);
    
}