*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header-menu */
header{
    display: flex;
    justify-content: space-around;
    background-color: #255ee9;
    height: 70px;  
}

.logo{
height: 40px;
margin-top: 20px;
}

.link{
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-weight: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.links-header{
    display: flex;
    width: 28vw;
    padding: 0.5em;
    margin: 0vh auto 1;
    justify-content: space-between;
    margin-top: 5px;  
    /* white-space: nowrap; */
}
.link-accedi{
    margin-top: 10px;
}


/* Primo blocco  */

.container-small {
	max-width: 600px;
	margin: 0 auto;
}

.header-background {
	padding: 4rem 0 3rem;
	background-image: url("../img/jumbo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.header-content {
	text-align: center;
	color: white;
}

.header-content h1 {
	margin-bottom: 2rem;
    font-size: 50px;

}

.header-content p {
	margin-bottom: 1rem;
    font-size: 15px;
    line-height: 30px;
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border-radius: 10em;
	text-decoration: none;
}

.btn-white {
	background-color: white;
	color: black;
}

.btn-black {
	background-color: #23272a;
	color: white;
}

/* Inizio secondo blocco */

.container-1{
    height: 680px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.blocco-1{
    width: 600px;
}

.titolo-blocco{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.paragraf-blocco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    height: 200px;
    line-height: 30px;
    margin-top: 40px;
}

.immagine-1{
    margin-right: 50px;
    height: 500px;
}

.img-rana{
    height: 500px;
}
/* Inizio terzo blocco  */

.container-3{
    height: 680px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f5f5f5;
    
}

/* Inizio quinto blocco */

.container-2{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}
.titolo-blocco1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.blocco-2{
width: 1200px;;
margin: auto;
}

.paragraf-blocco1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    height: 70px;
    line-height: 30px;
    margin-top: 40px;
}

.img-compu{
    height: 900px;
}

.blocco-finale{
    padding: 200px;
    text-align: center;
    background-color: #f5f5f5;
}

.btn-viola {
	background-color: #7289da;
	color: white;
    margin-top: 40px;
}


/* Inizio footer  */

footer{
    background-color: #23272a;
    padding-bottom: 4rem;
}

.container-footer{
    width: 80%;
    height: 40vh;
    background-color: #23272a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-top: 100px;
}

.footer-heading h2{
    color:#7289da;
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-size: 30px;
}
.footer-heading h3{
    color:#7289da;
    text-decoration: none;
    margin-bottom: 1.5rem;
}
.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.bottom-page{
    background-color: #23272a;
    padding-bottom: 4rem;
}

.mini-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wave{
    filter: invert(98%) sepia(16%) saturate(172%) hue-rotate(285deg) brightness(116%) contrast(92%);
    margin-bottom: -4px;
}

.wave-1{
    filter: invert(98%) sepia(16%) saturate(172%) hue-rotate(285deg) brightness(116%) contrast(92%);

}