*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 

}

header{
    display: flex;
    justify-content: space-around;
    background-color: #255ee9;
    height: 70px;
    
}

.logo{
height: 40px;
margin-top: 20px;
}

.link{
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-weight: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.links-header{
    display: flex;
    width: 29vw;
    padding: 0.5em;
    margin: 0vh auto 1;
    justify-content: space-between;
    margin-top: 5px;  
}
.link-accedi{
    margin-top: 30px;
}

.pulsante-accedi{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 11px;
    border-radius: 20px; 
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 950px;
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
 
}

h1{
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.paragrafo{
width: 1000px;
padding: 50px;
font-size: 23px;
font-weight: 100px;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
line-height: 40px;
}

.link-scarica{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 11px;
    border-radius: 20px; 
    vertical-align: bottom;
}

.pulsante-scarica{
    background-color: white; color: black;
    text-decoration: none;
    padding: 16px;
    border-radius: 30px; 
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.pulsante-apri-browser{
    background-color: #23272a; color: white;
    text-decoration: none;
    padding: 16px;
    border-radius: 30px; 
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/* Secondo blocco */

.container-1{
    height: 950px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.blocco-1{
    width: 600px;
}

.titolo-blocco{
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.paragraf-blocco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    text-align: left;
    height: 200px;
    line-height: 40px;
    margin-top: 40px;
}

.immagine-1{
    margin-right: 50px;
    height: 780px;
}

.img-rana{
    height: 600px;
}